footer {
    clear: both;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

    #copyright-container {
        margin-top: 30px;

        a {
            text-decoration: none;
            color: grey;
        }
    }
}
